.Circle {
    position: relative;
    display: flex;
    justify-content: center;
}

.CircleButtonGroup {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
