@import "./src/scss/settings";

.Form {
    width: 250px;
    padding: 20px;
    background-color: rgba($color--white, 0.2);
    border: 1px solid $color--white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.20);
    margin: 0 0 50px 0;

    label {
        width: 90px;
        display: inline-block;
        color: $color--white;
    }
}

