@import './scss/settings';

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    background: $color--blue;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-image: radial-gradient(34% 100%, #FFFFFF 50%, #FEFEFE 50%, #000000 100%);
        opacity: 0.05;
        width: 100%;
        height: 100%;
        background-size: cover;
        pointer-events: none;
        z-index: -1;
    }
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

